body  {
  font-family: 'Spectral';
  font-size: 19px;
  background-image:url("https://wallimpex.com/data/out/318/vegetables-backgrounds-6956794.jpg");
  background-size:1800px;
  background-repeat: no-repeat;
  background-position: middle;
}

h2 {
  position: absolute;
  top: 220px;
  left: 475px;
}

h6 {
  position: absolute;
  top: 342px;
  left: 480px;
  color: white;


}

.selections1 {
  position: absolute;
  left: 570px;
  top: 358px;
}

.selections2 {
  position: absolute;
  left: 800px;
  top: 220px;
}

.Total {
  position: absolute;
  top: 870px;
  left: 650px;
  border-style: solid;
  border-color: black;


}


};
